/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}



/* GENERICS */
.container-large{
    max-width: 1200px;
    margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
    height: 100%;
}



/* BG-COLOR */
.bg-light-green{
    background-color:#A2D39B ;
}

.bg-bordeaux{
    background-color: #61082B;
}

.bg-lightblue{
    background-color: #0093CE;
}

.bg-orange{
    background-color: #FF1C1C;
}

.bg-red{
    background-color: #D5001F;
}

.bg-celeste{
    background-color: #B4D0E7;
}

.bg-dark-blue{
    background-color: #0D2481;
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-celeste {
    background-color: #B4D0E7;

}

/* COLORS */
.magenta{
    color:#61082B;
}




/* UTILITIES */


.border-dashed{
    border: 1px dashed black;
}

.border{
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}

.border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
}

.mb-10{
    margin-bottom: 10px;
}


.mb-15{
    margin-bottom: 15px;
}


.mb-30{
    margin-bottom: 30px;
}

.mb-45{
    margin-bottom: 45px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-200{
    margin-bottom: 200px;
}

.pd-45{
    padding-top: 45px;
}


.opacity{
    opacity: 0.5;
}

.flex{
    display: flex;
}

img{
    display: block;
    max-width: 100% ;
}

h1.title{
    font-size: 70px;
    font-weight: 800;
    margin-bottom:60px ;
}

h2{
    font-size: 40px;
    margin: 40px 0;
}

h3{
    font-size: 25px;
}

ul li{
    list-style-type: none;
    display: flex;
    padding: 20px;
}

ul{
    display: flex;
    align-items: center;
}

li a{
    text-decoration: none;
    color: black;

}

p{
    line-height: 22px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.btn{
    display: inline-block;
    padding: 10px 15px;
}

.btn-small{
    padding:5px 15px;
}

.btn-blue{
    background-color: #0061FF;
    color: white;
}


.mini-header{
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.button-blue{
    width: 240px;
    height: 40px;
    background-color: #0061FF;
    color: white;
    text-align: center;
    line-height: 40px;
}

.button-transparent{
    width: 150px;
    height: 40px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
}

.button-white{
    width: 280px;
    height: 50px;
    background-color: white;    
    text-align: center;
    line-height: 50px;
}

.short-hr{
    width: 20%;
}

.blue-color{
   color: #0061FF; 
}




/* HEADER */
header{
    background-color: white;
    height: 100px;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


/* JUMBOTRON */

.jumbotron{
    height: 750px;
    margin-top: 100px;
    padding-top: 100px;
}

.jumbo-col{
    display: flex;
}

.jumbo-small-col{
    flex-basis: 30%;
    height: 500px;

}

.jumbo-large-col{
    flex-basis: 70%;
    height: 500px;
}

/* MAIN */

/* business plan */

.business-plan{
    margin-top: 200px;
}

.row-business-plan{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.col-business-plan{
    height: 950px;
    flex-basis: calc(100% /3);

}

.button{
    display: flex;
    margin-right: 50px;
    margin-bottom: 60px;

}


.circle{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    margin-right:10px ;
}

.circle.done{
    border: 5px solid  #0061FF;
}

.descrizione-prodotto{
    width: 80%;
    margin: auto;
}

.check{
    display: flex;
}

.fa-check{
    padding-right: 5px;
}




/* personalized plan */

.personalized-plan{
    height: 260px;
    margin-bottom: 80px;
}


.full-col{
    height: calc(100% - 40px);
    
}

.personalized-large-col{
    flex-basis: 70%; 
    padding-top: 35px;
    padding-left: 30px;  
}


.personalized-small-col{
    flex-basis: 30%;
}

.contatta-ufficio-vendite{
    position: relative;
    left: 30px;
    top: 30px;
}

/* partner dropbox */

.partner-dropbox{
    margin-bottom: 150px;
}

.medium-col{
    gap: 50px;
}

.partner-large-col{
    flex-basis: 60%;
}

.partner-small-col{
    flex-basis: 40%; 
}

/* dropbox business */

.dropbox-business{
    height: 100%;
    margin-bottom:  200px;
}

.dropbox-business-row{
   display: flex;
   flex-wrap: wrap; 
   gap: 30px;
}


.dropbox-business-col{
 flex-basis: calc(100%/3 - 20px);
 height: 500px;
}



/* SPONSOR */

.container-sponsor{
    display: flex;
    height: 600px;
}

.sponsor-col{
    flex-basis:calc(100% /3);
 
}

.in-col-sponsor{
    display: flex;
    flex-wrap: wrap;

}

.sponsor-card{
    flex-basis: 50%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.sponsor-card img{
    display: flex;
    width: 50%;
    margin: auto;
    filter: invert(1);

}

.description{
    padding: 50px;
    background-color: #F5F5F5;
    height: 100%;
}

.description img{
    width: 50%;

}


/* FREE TRIAL */

.free-trial{
    height: 300px;
    margin-bottom: 150px;
}


.left-col-free-trial{
    flex-basis: 50%;
    padding-top: 80px;
}

.right-col-free-trial{
    padding: 120px;
    flex-basis: 30%;
   
}

/* Questions */

.question-box{
    display: flex;
    justify-content: space-between;
    padding:40px 0;
    border-top: 1px solid black;
    
}

.question{
    display: flex;
    align-content: center;
}